.PlotItem {
  margin-bottom: 0.125rem;
}

.PlotItem span,
.PlotItem b {
  background: var(--title);
  font-size: 0.7rem;
  padding: 0.125rem 0.25rem;
  margin-right: 1px;
  user-select: none;
  cursor: pointer;
}

.PlotItem span:hover,
.PlotItem b:hover {
  background: var(--background);
}

.PlotItem b {
  display: inline-block;
  width: 1rem;
  text-align: center;
}
