#MainView {
  flex: 1 1;
  background: #121212;
}

#MainView .Window {
  height: 100%;
  width: 100%;
}

#MainView .drop-zone {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#MainView.drag .drop-zone {
  display: block;
}

#MainView.drag .WindowTitle.drag ~ .drop-zone {
  display: none !important;
}

#MainView .drop-zone div {
  background: var(--primary);
  opacity: 0;
  position: absolute;
}

#MainView .drop-zone div.active {
  opacity: 0.4;
}

#MainView .drop-zone .center {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#MainView .drop-zone .top,
#MainView .drop-zone .bottom {
  top: 0;
  left: 0;
  right: 0;
  height: 30%;
}

#MainView .drop-zone .bottom {
  top: 70%;
}

#MainView .drop-zone .right,
#MainView .drop-zone .left {
  left: 0;
  top: 0;
  bottom: 0;
  width: 30%;
}

#MainView .drop-zone .right {
  left: 70%;
}
